@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: productSans400;
  src: url(./assets/fonts/ProductSans-Regular.ttf);
}

@font-face {
    font-family: productSans800;
    src: url(./assets/fonts/ProductSans-Bold.ttf);
  }
